<a href="https://colab.research.google.com/github/jhhan0/learning-nlp/blob/main/cosine_similarity_movies_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
# If you want to know more about sklearn text feature extraction and linear kernel, visit https://scikit-learn.org/stable/modules/feature_extraction.html#text-feature-extraction for more detailed information.

In [1]:
from google.colab import files
files.upload()

Saving movies_metadata.csv to movies_metadata.csv

In [4]:
# You can download movies_metadata.csv file from https://www.kaggle.com
data = pd.read_csv('movies_metadata.csv', low_memory=False)
# Store only the top 20000 values
data = data.head(20000)
data.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [6]:
# If column 'overview" contains NaN (missing value), change it to nothing ('') in order to process TF-IDF vectorization
data['overview'] = data['overview'].fillna('')

In [7]:
# TF-IDF transformation
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data['overview'])
print(tfidf_matrix.shape)

(20000, 47487)

In [8]:
# Get cosine similarity
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
print(cosine_sim.shape)

(20000, 20000)

In [10]:
# Create table that contains movie title and its index
movie_to_index = pd.Series(data.index, index=data['title']).drop_duplicates()
print(movie_to_index.head(5))

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
dtype: int64

In [11]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get a index of corresponding title name
    index = movie_to_index[title]
    sim_scores = list(enumerate(cosine_sim[index]))
    # Sort sim_scores list from the highest to lowest cosine similarity
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the top 10 similar movies (highest cosine similarity (it means cosine similarity close to 1)), but except itself 
    sim_scores = sim_scores[1:11]
    # Create movie_recommendation list to store top 10 movies' index
    movie_recommendation = [i[0] for i in sim_scores]
    return data['title'].iloc[movie_recommendation]

In [13]:
get_recommendations('Toy Story')

15348               Toy Story 3
2997                Toy Story 2
10301    The 40 Year Old Virgin
8327                  The Champ
1071      Rebel Without a Cause
11399    For Your Consideration
1932                  Condorman
3057            Man on the Moon
485                      Malice
11606              Factory Girl
Name: title, dtype: object